
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  body(class='container')



    section(style="text-align:center")
        h2 Productos
        br

        a(href="./productos/add")
                button(class="btn btn-success") agregar productos
        if productos.length !== 0
              table.table
                thead.bg-secondary
                    tr
                        th #
                        th Nombre
                        th Precio
                        th Foto

                tbody.text-center
                    each producto in productos
                        tr.text-center
                            td.align-middle= producto.id
                            td.align-middle= producto.nombre
                            td.align-middle= producto.precio
                            td.align-middle
                                img(src=producto.img width="15%" alt=producto.nombre)
        else
          div
            h2 no hay productos
